<!doctype html>
<html>
<head>
<title>KVM</title>
<link rel="stylesheet" href="/assets/css/style.css" />
<link href='https://fonts.googleapis.com/css?family=Inconsolata' rel='stylesheet' type='text/css'>
</head>
<body>

<nav data-component="nav" data-template="#nav-template">
<script type="text/template" id="nav-template">
<-function renderDirs(d) {->
	<-if (d.dirs) {->
		<-d.dirs.forEach(d => {->
			<div class="dir<-selected===d.path ? ' selected' : ''-><-d.open ? ' open' : ''->" <-on('click', clickDir, d)->>
				<div class="item"><span class="folder"><-d.name-></span></div>
				<-if (d.children) {->
					<-renderDirs(d.children)->
				<-}->
			</div>
		<-})->
	<-}->
	<-if (d.files) {->
		<-d.files.forEach(f => {->
			<div class="item file<-active===f.path ? ' active' : ''-><-open[f.path] ? ' open' : ''->" <-on('click', clickFile, f)->>
				<-f.name->
			</div>
		<-})->
	<-}->
<-}->
<-renderDirs(dir)->
</script>
</nav>

<div class="background">

	<div class="overlay"></div>

	<div class="tabs" data-component="tabs" data-template="#tabs-template">
		<script type="text/template" id="tabs-template">
		<-for (var path in tabs) {->
			<div class="tab file<-active===path ? ' active' : ''->" <-on('click', open, path)->>
				<-tabs[path]->
				<a class="close" <-on('click', close, path)->></a>
			</div>
		<-}->
		<input type="checkbox" class="menu-toggle"/>
		<div class="nav">
			<a class="save">Save</a>
			<a class="new-file">New File</a>
			<a class="delete">Delete</a>
		</div>
		<div class="menu">
			<div class="bar"></div>
			<div class="bar"></div>
			<div class="bar"></div>
		</div>
		</script>
	</div>

	<div class="numbers"></div>

	<div data-component="editor" data-template="#text-template"></div>
		<script type="text/template" id="text-template">
			<textarea class="text" <-on('input', resetHeight)->><-text-></textarea>
		</script>
	</div>

</div>

<script type="text/template" id="loader-template">
	<div class="loader">
	  <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	     width="24px" height="30px" viewBox="0 0 24 30" style="enable-background:new 0 0 50 50;" xml:space="preserve">
	    <rect x="0" y="0" width="4" height="10" fill="#333">
	      <animateTransform attributeType="xml"
	        attributeName="transform" type="translate"
	        values="0 0; 0 20; 0 0"
	        begin="0" dur="0.6s" repeatCount="indefinite" />
	    </rect>
	    <rect x="10" y="0" width="4" height="10" fill="#333">
	      <animateTransform attributeType="xml"
	        attributeName="transform" type="translate"
	        values="0 0; 0 20; 0 0"
	        begin="0.2s" dur="0.6s" repeatCount="indefinite" />
	    </rect>
	    <rect x="20" y="0" width="4" height="10" fill="#333">
	      <animateTransform attributeType="xml"
	        attributeName="transform" type="translate"
	        values="0 0; 0 20; 0 0"
	        begin="0.4s" dur="0.6s" repeatCount="indefinite" />
	    </rect>
	  </svg>
	</div>
</script>

<script src="https://code.jquery.com/jquery-2.2.3.min.js" integrity="sha256-a23g1Nt4dtEYOj7bR+vTu7+T8VP13humZFBJNIYoEJo=" crossorigin="anonymous"></script>
<script src="/assets/js/dist/script.js"></script>
</body>
</html>