body {
  background-color: #27262D;
  color: #C8D4E0;
  margin: 0;
  font-family: 'Inconsolata', 'monospace';
  font-size: 10pt;
  overflow-x: hidden;
  overflow-y: scroll;
}

.nav-component {
    background-color: #2B2B33;
    width: 20%;
    position: fixed;
    height: 100%;
    padding: 10px 0;
    overflow-y: scroll;
    box-sizing: border-box;
    z-index: -1;
}

.item {
    cursor: pointer;
}

.dir, .file {
    padding: 4px 15px;
    color: #C8D4E0;
    overflow: hidden;
    height: 1em;
}

.dir.open {
    height: auto;
}

.file.open {
    color: #C3A991;
}

.item:active, .option:active, .file.open.active {
    color: #FF9B40;
}

.item:hover, .option:hover {
  color: white;
}

.background {
    min-height: 100%;
    background-color: #27262D;
    width: calc(80% + 18px);
    float: right;
    position: relative;
    transition: -webkit-filter 0.3s, filter 0.3s;
    box-shadow: 0 0 10px rgba(0,0,0,.5);
}

.background.blur {
    filter: blur(2px);
    -webkit-filter: blur(2px);
    pointer-events: none;
}

.text {
    line-height: 1.5;
    white-space: pre;
    outline: none;
    background: none;
    border: none;
    appearance: none;
    -webkit-appearance: none;
    resize: none;
    color: inherit;
    font-family: inherit;
    font-size: inherit;
    width: calc(100% - 25px);
    padding: 0;
    height: 0;
    overflow-y: hidden;
    margin-top: 35px;
    height: calc(100vh - 38px);
}

.numbers {
    float: left;
    color: #5E5F75;
    width: 25px;
    text-align: center;
    line-height: 1.5;
    overflow: hidden;
    margin-top: 35px;
    counter-reset: line;
}

.num:before {
    counter-increment: line;
    content: counter(line);
}

.folder:after {
    content: '/';
}

.tabs-component {
    width: 100%;
    background-color: #212127;
    height: 35px;
    position: fixed;
    z-index: 1;
    box-shadow: 1px 1px 10px black;
}

.tab {
    padding: 9px 10px 9px 15px;
    border-bottom: 2px solid #C3A991;
    box-shadow: 1px 0px 1px black;
    float: left;
    transition: background-color 0.3s, border-bottom 0.3s;
    cursor: pointer;
}

.tab:hover {
    background-color: #302F35;
}

.tab.active {
    border-bottom: 2px solid #FF9B40;
    background-color: #302F35;
}

.close {
    margin-left: 6px;
    position: relative;
    top: 2px;
    font-size: 14pt;
    line-height: 0;
    color: #50545C;
    transition: color 0.3s;
}

.close:hover {
    color: #C8D4E0;
}

.close:after {
    content: "\00d7";
}

.loader {
    padding: 1em;
    margin: 0 auto;
    display: block;
    text-align: center;
    opacity: 0;
    transition: opacity 0.6s;
}

.loader.visible {
    opacity: 1;
}

.background .loader {
    position: fixed;
    top: 50%;
    left: 55%;
}

svg path,
svg rect{
    fill: #FF6700;
}

.context-menu {
    position: absolute;
    background: #33363A;
    padding: 5px 0;
    line-height: 24px;
    box-shadow: 2px 2px 0 rgba(0,0,0,.3);
    display: none;
}

.context-menu.visible {
    display: block;
}

.option {
    cursor: pointer;
    padding: 0 10px;
}
